.container {
  width: 60%;
  margin: auto;
}

.dice {
  display: inline-block;
}

body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #30E3CA;
}

p {
  font-size: 2rem;
  color: #11999E;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button {
  margin: 2%;
  padding: 1.25em;
  border-radius: 1em;
  background-color: #11999E;
  color: #E4F9F5;
}

footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
